{% extends 'menu.html' %}
{% block conteudo %}
    <!-- Este formulário é exibido após a coleta do seu endereço de email -->
    <br>
    <div class="alert alert-primary" role="alert">
      Enviamos por e-mail instruções para definir sua senha. Se eles não chegarem em alguns minutos, verifique sua pasta de spam.
    </div>
    
    <div class="row justify-content-center">
        <div class="col-4 p-1">
            <a class="btn btn-secondary" href="{% url 'inicio' %}"><i class="bi bi-house"></i> Início</a>
        </div>
    </div>
    
    
{% endblock conteudo %}
