{% extends 'menu.html' %}
{% load widget_tweaks %}
{% block conteudo%}
    <!-- Este é o formulário usado para obter o endereço de email do usuário (para enviar o email de redefinição de senha). -->
    <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
        <!--<p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">-->
    
        <div class="container text-center position-absolute top-50 start-50 translate-middle">
            <div class="row align-items-center">
                <h1>Esqueceu sua senha?</h1>
                <br>
                <div class="row justify-content-center">
                    <div class="col-4 p-2">
                        {% render_field form.email|add_class:"form-control" placeholder="E-mail" type="email" %}
                    </div>
                </div>
                
                <div class="row justify-content-center">
                <div class="col-4 p-1">
                    <button type="submit" class="btn btn-success" value="Reset password"><i class="bi bi-person-exclamation"></i> Trocar Senha</button>
                    
                </div>
                </div>
            </div>
        </div>
    </form>
    
{% endblock conteudo %}
