{% extends 'menu.html' %}
{% load widget_tweaks %}
{% block conteudo %}
    <br>
    <h1>Cadastrar Produto</h1>

    <form action="{% url 'aplicacao:produto_criar' %}" method="post">
        {% csrf_token %}

        <div class="container text-center p-3">
             <div class="row g-2 p-2">
                 <div class="col">
                     {% render_field form.nome|add_class:"form-control" placeholder="Nome do produto" type="text" %} <!-- Aqui criamos o campo nome e colocamos as formatações -->
                 </div>
                 <div class="col">
                     {% render_field form.imagem|add_class:"form-control" placeholder="Imagem" type="file" %}
                 </div>
             </div>

            <div class="row g-2 p-2">
                <div class="col-6">
                    <div class="input-group">
                      <span class="input-group-text">Categoria</span>
                      {% render_field form.categoria|add_class:"form-select" %}
                    </div>
                </div>

                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">R$:</span>
                        {% render_field form.preco|add_class:"form-control" type="number" placeholder="Preço" %}
                    </div>
                </div>
            </div>

            <div class="row input-group p-2">
                <div class="col">
                    <div class="input-group">
                      <span class="input-group-text">Descição</span>
                      {% render_field form.descricao|add_class:"form-control" placeholder="Escreva aqui a descrição do seu produto!" %}
                    </div>
                </div>
            </div>

            {% render_field form.produtor|add_class:"form-select" %}

        </div>

            <div style="text-align: right" class="p-2">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-floppy"></i> Salvar
                </button>

                <button type="reset" class="btn btn-danger">
                    <i class="bi bi-x-circle"></i> Repor
                </button>

                <a class="btn btn-primary" href="{% url 'aplicacao:produtos_lista' %}" role="button">
                    <span class="text-light text-center">
                        <i class="bi bi-arrow-counterclockwise"></i> Voltar
                    </span>
                </a>
            </div>

    </form>

{% endblock %}
