{% extends 'base.html' %}

{% block conteudo %}
    <br>
    <h1>Informações do Produto</h1>
    <br>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Campo</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="col">Imagem</th>
                <td><img src="{{ produto.imagem.url }}" width="200"></td>
            </tr>

            <tr>
                <th scope="col">Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>

            <tr>
                <th scope="col">Categoria</th>
                <td>{{ produto.categoria.all|join:", " }}</td>
            </tr>

            <tr>
                <th scope="col">Descrição</th>
                <td>{{ produto.descricao }}</td>
            </tr>

            <tr>
                <th scope="col">Preço</th>
                <td>{{ produto.preco }}</td>
            </tr>

            <tr>
                <th scope="col">Produtor</th>
                <td>{{ produto.produtor }}</td>
            </tr>
        </tbody>

    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="{% url 'aplicacao:produtos_lista_produtor' %}" role="button">
            <span class="text-light text-center">
                <i class="bi bi-arrow-counterclockwise"></i> Voltar
            </span>
        </a>
    </div>

{% endblock %}
