{% extends 'base.html' %}

{% block conteudo %}
    {% if categoria_selecionada %}
    	<h1>{{ categoria_selecionada }}</h1>
    {% endif %}

    Escolha uma categoria:
    {% for categoria in categorias %}
        <a href="{% url 'aplicacao:produtos_lista' %}?c={{ categoria.id }}">{{ categoria.nome }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}



    {% for produto in produto_list %}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div class="card">
                <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
                <div class="card-body">
                    <h5 class="card-title
                    ">{{ produto.nome }}</h5>
                    <p class="card-text">{{ produto.descricao }}</p>
                    <p class="card-text">R$ {{ produto.preco }}</p>
{#                    <a href="{% url 'produto_detalhe' produto.id %}" class="btn btn-primary">Detalhes</a>#}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}