{% extends 'menu.html' %}

{% block conteudo %}

    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-4">Olá, {{ user.get_short_name }}!</h1>
        {% else %}
        <h1 class="display-4">Olá!</h1>
        {% endif %}
      <p class="lead">Essa é uma tela teste com uma mensagem padrão para testes!!!</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
    </div>
    
{% endblock %}
