<!--<footer class="card-footer text-body-secondary">
    <div class="col">
        <div class="card text-center">
          <div class="card-footer text-body-secondary">
              <div class="text-center" style="padding: 5px;" >
                  &copy 2024 Copyright: <a href="#">WeTech Solutions</a>
              </div>
          </div>
        </div>
    </div>
</footer>-->

<footer style="background-color: #f0f0f0;" class="text-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contato</h5>
                <p>Email: contato@serraecommerce.com</p>
                <p>Telefone: (54) 3232-5555</p>
            </div>
            <div class="col-md-6 text-end">
                <h5>Redes Sociais</h5>
                <a href="#" class="text-dark me-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-dark me-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-dark"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </div>
    
    
    <div class="card-footer text-body-secondary">
      <div class="text-center" style="padding: 5px;" >
          &copy 2024 Copyright: <a href="#">WeTech Solutions</a>
      </div>
    </div>

</footer>
