{% extends 'base.html' %}

{% block rodape %}
    
    <footer class="card-footer text-body-secondary"> <!-- Para deixar sempre fixo no fim da PG testar: position-absolute bottom-0 end-0 -->
        <div class="col">
        <div class="card text-center">
          <div class="card-footer text-body-secondary">
              <div class="text-center" style="padding: 5px;" >
                  &copy 2024 Copyright: <a href="#">WeTech Solutions</a>
              </div>
          </div>
        </div>
    </footer>

{% endblock %}
